<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- 扫描controller -->
	<context:component-scan base-package="com.sixmai.controller"></context:component-scan>
	<!-- 配置映射器和适配器 -->
	<mvc:annotation-driven></mvc:annotation-driven>
	<!-- 配置视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

	<!--200*1024*1024即200M resolveLazily属性启用是为了推迟文件解析，以便捕获文件大小异常 -->
	<bean id="multipartResolver"
		  class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="10485760000" />

		<property name="defaultEncoding" value="UTF-8" />
		<property name="resolveLazily" value="true" />
	</bean>

	<!-- 配置用于跳回登录之前的页面session的拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<!-- 进行拦截：/**表示拦截所有url及其子路径 -->
			<mvc:mapping path="/login/*" />
			<mvc:mapping path="/uploadExcel/*" />
			<mvc:mapping path="/exportExcel/*" />
			<mvc:mapping path="/requirementManage/*" />

			<!-- 登录验证的时候、注册申请的的时候 不进行拦截 -->
			<mvc:exclude-mapping path="/login/login" />
			<!--<mvc:exclude-mapping path="/login/toLogin" />-->

			<bean class="com.sixmai.interceptor.ForwardBeforeLoginInteceptor"></bean>
		</mvc:interceptor>

	</mvc:interceptors>


	<!-- 过滤静态资源 -->
	<mvc:default-servlet-handler />

</beans>